.section-icon {
  @extend .absolute-hor-center;
  
  top: -4rem;
  
  svg {
    display:block;
    margin:0 auto;
    fill:$body-font-color;
  }
}

.icon-pen {
  width:rem-calc(65);
  height:rem-calc(131);
  @include transform(rotate(45deg));
  background-color:#fff;
}